@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply p-3 border-2 border-gray-300 text-lg font-light focus:outline-none focus:border-gray-500 transition-colors;
}

.input-sm {
  @apply border-2 border-gray-300 font-light transition-colors focus:outline-none focus:border-gray-500 p-2 sm:w-40 md:w-auto;
}

.common-article {
  @apply w-full px-5 xl:px-0 mt-10 max-w-screen-xl mx-auto;
}

.link {
  @apply text-lime-600 hover:underline
}

.btn {
  @apply text-lg text-white py-3 px-3 transition-colors focus:outline-none bg-lime-600 hover:bg-lime-700;
}

.btn-black {
  @apply text-lg text-white py-3 px-3 transition-colors focus:outline-none bg-gray-700 hover:bg-gray-800;
}

.btn-dish {
  @apply text-white transition-colors focus:outline-none;
}

select {
  background-size: 10px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/arrow.png') no-repeat 95% 50%;
}

.font-border {
  text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
  -moz-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
  -webkit-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
 }